.header {
  position: sticky;
  top: 0;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}


.header-title {
  font-size: 2rem;
  margin-bottom: 8px;
}

.header-subtitle {
  color: #666;
  font-size: 0.9rem;
}
